datadir="/var/lib/proxysql"
admin_variables = {
  admin_credentials="admin:admin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables = {
  threads=2
  max_connections=2048
  default_query_delay=0
  default_query_timeout=36000000
  poll_timeout=2000
  interfaces="0.0.0.0:6033"
  monitor_username="user"
  monitor_password="password"
}

mysql_servers = (
  { address = "db", port = 3306, hostgroup = 0, max_connections = 200, status = "ONLINE" }
)

mysql_users = (
  { username = "user", password = "password", default_hostgroup = 0, transaction_persistent = 1, fast_forward = 0 }
)

mysql_query_rules = (
  { rule_id = 1, active = 1, match_pattern = ".", destination_hostgroup = 0, apply = 1 }
)