# 日本語（UTF-8）を正しく扱うための設定
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 2
ngram_token_size=5
max_allowed_packet=2G
max_connections = 30
disable-log-bin
performance_schema = OFF
slow_query_log = OFF
general_log = OFF

[mysqldump]
max_allowed_packet = 2G

[client]
default-character-set = utf8mb4
